@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.container-page{
    display: flex;
}

.content-page {
    flex-grow: 1;
    padding: 20px;
}