.app.dark {
    --bg-color: #153243;
    --invert-bg-color: #B4B8AB;
    --primary-color: #EEF0EB;
    --secondary-color: #284B63;
    --inverted-primary-color: #EEF0EB;
    --inverted-secondary-color: #F4F9E9;
}
