:root {
    --bg-color: #e8e8ea;
    --invert-bg-color: #153243;
    --primary-color: #284B63;
    --secondary-color: #B4B8AB;
    --inverted-primary-color: #EEF0EB;
    --inverted-secondary-color: #F4F9E9;
}
