:root {
    --bg-color: #e8e8ea;
    --invert-bg-color: #090949;
    
    --primary-color: #4b67b9;
    --secondary-color: #0449e0;

    ---inverted-primary-color: #bfcebf;
    --inverted-secondary-color: #e9ece9;
}
